@font-face {
  font-family: 'Unicephalon';
  src: url("../assets/fonts/unicephalon.ttf") format("truetype"); }
body {
  background-image: url("../assets/images/galaxybg.jpg");
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Dosis', sans-serif; }

main {
  padding-left: 35px;
  padding-right: 35px; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none;
  color: black; }

#header {
  height: 40vh;
  width: 100%;
  background-color: white;
  text-align: center;
  -webkit-box-shadow: 0 5px 2px white;
  -moz-box-shadow: 0 5px 2px white;
  box-shadow: 0 5px 2px white; }
  #header h2 {
    font-family: 'Unicephalon','Gugi', cursive;
    color: #0ab362;
    text-stroke: 5px black;
    -webkit-text-stroke: 5px black;
    text-shadow: 5px 5px 2px black; }
  #header h3 {
    color: black; }
  #header span {
    font-family: 'Unicephalon','Gugi', cursive;
    color: black; }
  #header img {
    height: 90px;
    width: 90px; }
  #header img:hover {
    text-shadow: 0 8px 6px -6px black; }
  #header .row {
    background-color: white; }
  #header .fixed-top {
    padding: 3px;
    background-color: #3b3b3b;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black; }
    #header .fixed-top span {
      color: white;
      font-size: 10px;
      text-stroke: .5px black;
      -webkit-text-stroke: .5px black; }
    #header .fixed-top img {
      height: 50px;
      width: 50px; }

.main-container {
  background-color: rgba(252, 252, 252, 0.9); }
  .main-container h1 {
    text-align: right;
    padding-top: 5vh;
    font-family: 'Unicephalon';
    font-size: 40px;
    text-stroke: 1px white;
    -webkit-text-stroke: 1px white;
    text-shadow: 3px 3px 2px black; }

#about {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  margin-top: 4vh;
  height: 60vh; }
  #about h2 {
    font-family: 'Unicephalon';
    text-stroke: 1px white;
    -webkit-text-stroke: 1px white;
    text-shadow: 3px 3px 2px black; }
  #about span {
    font-size: 23px; }
  #about .row {
    padding-top: 2vh; }
  #about img {
    height: 35%; }
  #about #message {
    margin-left: 1px; }
  #about li {
    background-color: rgba(255, 255, 255, 0);
    padding: 3px; }
  #about h4 {
    font-family: 'Unicephalon';
    text-stroke: .5px white;
    -webkit-text-stroke: .5px white;
    text-shadow: 3px 3px 2px black; }

#stack {
  height: 70vh;
  margin-top: -8vh;
  clip-path: polygon(0 17%, 100% 0, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0 17%, 100% 0, 100% 85%, 0 100%); }
  #stack i {
    font-size: 60px;
    padding: 5px;
    text-stroke: .25px black;
    -webkit-text-stroke: .25px black;
    text-shadow: 1px 1px 2px black; }

#projects {
  height: 80vh;
  margin-top: -6vh;
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%); }
  #projects .carousel {
    margin-top: 2vh;
    width: 100%;
    height: 100%; }
  #projects #mobilemock {
    width: 100%; }

footer {
  height: 15vh;
  margin-top: 5vh;
  background-color: #3b3b3b;
  text-align: center; }
  footer span {
    color: white;
    margin-top: -5px; }
  footer p {
    color: white;
    font-size: 20px;
    padding-top: 2vh; }

#jobcard h5 {
  font-family: 'Unicephalon','Gugi', cursive;
  padding: 5px; }
#jobcard img {
  height: 60%; }

/* Media Queries */
@media (max-width: 1024px) {
  .main-container h1 {
    padding-top: 1vh; }

  #header {
    max-height: 17vh; }
    #header h2 {
      padding-top: 1vh;
      font-size: 80px; }

  #about {
    margin-top: 1vh;
    height: 23vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    #about span {
      font-size: 20px; }
    #about h2 {
      font-size: 30px; }
    #about img {
      padding-right: 10px; }
    #about #message {
      margin-left: 15px; }

  #stack {
    margin-top: 1vh;
    height: 20vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    #stack .col-7 {
      margin-top: 0vh; }
    #stack i {
      font-size: 40px;
      padding: 2px;
      text-stroke: .25px black;
      -webkit-text-stroke: .25px black;
      text-shadow: 1px 1px 2px black; }

  #projects {
    margin-top: 1vh;
    height: 35vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }

  footer {
    height: 5vh;
    margin-top: 1vh;
    margin-bottom: 0; }
    footer p {
      padding-top: 1vh; } }

/*# sourceMappingURL=styles.css.map */
