@import "./scss/functions";
@import "./scss/variables";
@import "./scss/mixins";
@import "_variables.scss";




body {
  background-image: url('../assets/images/galaxybg.jpg');
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Dosis', sans-serif;
  // font-family: 'Montserrat', sans-serif;
}

main {
  padding-left: 35px;
  padding-right: 35px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

//HEADER
#header {
  height: 40vh;
  width: 100%;
  background-color: white;
  text-align: center;
  -webkit-box-shadow: 0 5px 2px white;
  -moz-box-shadow: 0 5px 2px white;
  box-shadow: 0 5px 2px white;
  h2 {
    font-family: 'Unicephalon','Gugi', cursive;
    color: rgb(10,179,98);
    text-stroke: 5px black;
    -webkit-text-stroke: 5px black;
    text-shadow: 5px 5px 2px black;
  }
  h3 {
    color: black;
  }
  span {
    font-family: 'Unicephalon','Gugi', cursive;
    color: black;
  }
  img {
    height: 90px;
    width: 90px;
  }
  img:hover {
    text-shadow: 0 8px 6px -6px black;
  }
  .row {
    background-color: white;
  }
  .fixed-top {
    padding: 3px;
    background-color: rgb(59,59,59);
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    span {
      color: white;
      font-size: 10px;
      text-stroke: .5px black;
      -webkit-text-stroke: .5px black;
    }
    img {
      height: 50px;
      width: 50px;
    }
  }
}

//CONTAINERS
.main-container {
  background-color: rgba(252,252,252,.9);
  h1 {
    text-align: right;
    padding-top: 5vh;
    font-family: 'Unicephalon';
    font-size: 40px;
    text-stroke: 1px white;
    -webkit-text-stroke: 1px white;
    text-shadow: 3px 3px 2px black;
  }
}

//ABOUT
#about {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  margin-top: 4vh;
  height: 60vh;
  h2 {
    font-family: 'Unicephalon';
    text-stroke: 1px white;
    -webkit-text-stroke: 1px white;
    text-shadow: 3px 3px 2px black;
  }
  span {
    font-size: 23px;
  }
  .row {
    padding-top: 2vh;
  }
  img {
    height: 35%;
  }
  #message {
    margin-left: 1px;
  }
  li {
    background-color: rgba(255,255,255,0);
    padding: 3px;
  }
  h4 {
    font-family: 'Unicephalon';
    text-stroke: .5px white;
    -webkit-text-stroke: .5px white;
    text-shadow: 3px 3px 2px black;
  }
}

//STACK
#stack {
  height: 70vh;
  margin-top: -8vh;
  clip-path: polygon(0 17%, 100% 0, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0 17%, 100% 0, 100% 85%, 0 100%);
  i {
    font-size: 60px;
    padding: 5px;
    text-stroke: .25px black;
    -webkit-text-stroke: .25px black;
    text-shadow: 1px 1px 2px black;
  }
}

//PROJECTS
#projects {
  height: 90vh;
  margin-top: -6vh;
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
  .carousel {
    margin-top: 2vh;
    width: 100%;
    height: 100%;
  }
  #mobilemock {
    width: 100%;
  }

}

//CONTACT
// #contact {
//   height: 30vh;
//   margin-top: -9vh;
//   clip-path: polygon(0 19%, 100% 0, 100% 100%, 0 100%);
//   -webkit-clip-path: polygon(0 19%, 100% 0, 100% 100%, 0 100%);
// }

//FOOTER
footer {
  height: 15vh;
  margin-top: 5vh;
  background-color: rgb(59,59,59);
  text-align: center;
  span {
    color: white;
    margin-top: -5px;
  }
  p {
    color: white;
    font-size: 20px;
    padding-top: 2vh;
  }
}

//MODAL
#jobcard {
  h5 {
    font-family: 'Unicephalon','Gugi', cursive;
    padding: 5px;
  }
  img {
  height: 60%;
}
}

/* Media Queries */
@media (max-width: 1024px) {
  main {
    padding: 0;
  }

  body {
    padding: 0;
  }

  .main-container {
    h1 {
      padding-top: 1vh;
    }
  }
  #header {
    max-height: 17vh;
    h2 {
      padding-top: 1vh;
      font-size: 80px;
    }
  }
  #about {
    margin-top: 1vh;
    height: 23vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    span {
      font-size: 20px;
    }
    h2 {
      font-size: 30px;
    }
    img {
      padding-right: 10px;
    }
    #message {
      margin-left: 15px;
    }
  }

  #stack {
    margin-top: 1vh;
    height: 20vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    .col-7 {
      margin-top: 0vh;
    }
    i {
      font-size: 40px;
      padding: 2px;
      text-stroke: .25px black;
      -webkit-text-stroke: .25px black;
      text-shadow: 1px 1px 2px black;
    }
  }

  #projects {
    margin-top: 1vh;
    height: 35vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  footer {
    height: 5vh;
    margin-top: 1vh;
    margin-bottom: 0;
    p {
      padding-top: 1vh;
    }
  }
}
